In [1]:
import pandas as pd

In [9]:
df=pd.read_csv("data.csv")
df

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,728,732,Collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20.0,39.0,UK,2017,8,18,18
728,729,733,Attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25.0,48.0,USA,2018,6,22,14
729,730,734,Successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22.0,42.0,Canada,2019,4,5,17
730,731,735,"Participating in a multicultural festival, cel...",Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21.0,43.0,UK,2020,2,29,20
731,732,736,Organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24.0,47.0,USA,2020,11,15,15

In [10]:
#importing required packages
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

nltk.download('punkt')
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\athar\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\athar\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\athar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\athar\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\athar\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\athar\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.8)
Requirement already satisfied: joblib in c:\users\athar\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\athar\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\athar\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.67.1)
Requirement already satisfied: colorama in c:\users\athar\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [19]:
import string
from textblob import TextBlob
# lowercasing
df["lower_text"] = df["Text"].str.lower()
print("Lowercased data:\n")
df["lower_text"].head()

Lowercased data:

0     enjoying a beautiful day at the park!        ...
1     traffic was terrible this morning.           ...
2     just finished an amazing workout! ðŸ’ª          ...
3     excited about the upcoming weekend getaway!  ...
4     trying out a new recipe for dinner tonight.  ...
Name: lower_text, dtype: object

In [18]:
#remove punctuation
df["no_punct"] = df["lower_text"].apply(lambda x: x.translate(str.maketrans("", "", string.punctuation)))
print("Punctuations removed:\n")
df["no_punct"].head()

Punctuations removed:

0     enjoying a beautiful day at the park         ...
1     traffic was terrible this morning            ...
2     just finished an amazing workout ðŸ’ª           ...
3     excited about the upcoming weekend getaway   ...
4     trying out a new recipe for dinner tonight   ...
Name: no_punct, dtype: object

In [20]:
#Tokenization
df["tokens"] = df["no_punct"].apply(lambda x: x.split())
print("Word tokenisation:\n")
df["tokens"].head()

Word tokenisation:

0         [enjoying, a, beautiful, day, at, the, park]
1              [traffic, was, terrible, this, morning]
2            [just, finished, an, amazing, workout, ðŸ’ª]
3    [excited, about, the, upcoming, weekend, getaway]
4    [trying, out, a, new, recipe, for, dinner, ton...
Name: tokens, dtype: object

In [21]:
stopwords = set([
    "the", "and", "is", "in", "to", "of", "a", "on", "for", "with", "at", "by",
    "an", "be", "this", "that", "it", "from", "as", "are", "was", "were"
])

stemmer = PorterStemmer()

#remove stopwords
df["no_stopwords"] = df["tokens"].apply(lambda x: [word for word in x if word not in stopwords])
print("Stopwords Removed:\n")
df["no_stopwords"].head()

Stopwords Removed:

0                [enjoying, beautiful, day, park]
1                    [traffic, terrible, morning]
2           [just, finished, amazing, workout, ðŸ’ª]
3    [excited, about, upcoming, weekend, getaway]
4     [trying, out, new, recipe, dinner, tonight]
Name: no_stopwords, dtype: object

In [22]:
# Apply Stemming
df["stemmed_tokens"] = df["no_stopwords"].apply(lambda x: [stemmer.stem(word) for word in x])
print("Stemmed Tokens:\n")
df["stemmed_tokens"].head()

Stemmed Tokens:

0                 [enjoy, beauti, day, park]
1                   [traffic, terribl, morn]
2           [just, finish, amaz, workout, ðŸ’ª]
3    [excit, about, upcom, weekend, getaway]
4    [tri, out, new, recip, dinner, tonight]
Name: stemmed_tokens, dtype: object

In [46]:
print("Newly added Columns:\n")
df[["lower_text","no_punct","tokens","no_stopwords","stemmed_tokens"]].head()

Newly added Columns:

,lower_text,no_punct,tokens,no_stopwords,stemmed_tokens
0,enjoying a beautiful day at the park! ...,enjoying a beautiful day at the park ...,"[enjoying, a, beautiful, day, at, the, park]","[enjoying, beautiful, day, park]","[enjoy, beauti, day, park]"
1,traffic was terrible this morning. ...,traffic was terrible this morning ...,"[traffic, was, terrible, this, morning]","[traffic, terrible, morning]","[traffic, terribl, morn]"
2,just finished an amazing workout! ðŸ’ª ...,just finished an amazing workout ðŸ’ª ...,"[just, finished, an, amazing, workout, ðŸ’ª]","[just, finished, amazing, workout, ðŸ’ª]","[just, finish, amaz, workout, ðŸ’ª]"
3,excited about the upcoming weekend getaway! ...,excited about the upcoming weekend getaway ...,"[excited, about, the, upcoming, weekend, getaway]","[excited, about, upcoming, weekend, getaway]","[excit, about, upcom, weekend, getaway]"
4,trying out a new recipe for dinner tonight. ...,trying out a new recipe for dinner tonight ...,"[trying, out, a, new, recipe, for, dinner, ton...","[trying, out, new, recipe, dinner, tonight]","[tri, out, new, recip, dinner, tonight]"

In [45]:
from textblob import TextBlob

blob = TextBlob(text[0])
sentiment = blob.sentiment
print(sentiment)

sent = []
for txt in df["stemmed_tokens"]:
    blob = TextBlob(" ".join(txt))   # join list of tokens into a sentence
    sentiment = blob.sentiment
    sent.append(sentiment)

df["sentiment"] = sent
df[["Sentiment","sentiment"]].tail()

Sentiment(polarity=0.75, subjectivity=0.8)

    Sentiment                                  sentiment
727    Happy                                  (0.5, 0.5)
728    Happy                   (0.6, 0.6000000000000001)
729    Happy   (0.3666666666666667, 0.06666666666666667)
730    Happy                                  (0.0, 0.0)
731    Happy                                  (0.3, 0.1)